body{
margin:0;
font-family:Arial;
background:#f4f6f9;
}

/* NAVBAR */

header{
background:#1c2e5b;
color:white;
padding:15px;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
}

.logo-area{
display:flex;
align-items:center;
gap:10px;
}

.logo{
width:40px;
}

#menu{
list-style:none;
display:flex;
gap:20px;
}

#menu li a{
color:white;
text-decoration:none;
font-weight:bold;
}

#menu li a:hover{
color:#ffcc00;
}

.menu-btn{
display:none;
font-size:26px;
cursor:pointer;
}

/* HERO */

.hero{
position:relative;
height:90vh;
overflow:hidden;
}

.slide{
position:absolute;
width:100%;
height:100%;
background-size:cover;
background-position:center;
opacity:0;
transition:1s;
}

.slide:nth-child(1){
background-image:url("slide1.jpg");
}

.slide:nth-child(2){
background-image:url("slide2.jpg");
}

.slide:nth-child(3){
background-image:url("slide3.jpg");
}

.slide.active{
opacity:1;
}

.hero-text{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
color:white;
text-align:center;
}

.hero-text h2{
font-size:45px;
}

.hero-text button{
padding:12px 25px;
background:#ffcc00;
border:none;
font-weight:bold;
cursor:pointer;
}

/* ABOUT */

.about{
padding:60px;
text-align:center;
}

/* CARDS */

.cards{
display:flex;
justify-content:center;
gap:30px;
padding:40px;
flex-wrap:wrap;
}

.card{
background:white;
padding:25px;
width:250px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
transition:0.3s;
}

.card:hover{
transform:translateY(-10px);
}

/* NEWS */

.news{
padding:40px;
background:#eee;
text-align:center;
}

.news-container{
display:flex;
gap:30px;
justify-content:center;
flex-wrap:wrap;
}

.news-card{
background:white;
padding:20px;
width:250px;
border-radius:10px;
}

/* FOOTER */

footer{
background:#1c2e5b;
color:white;
text-align:center;
padding:20px;
}

/* MOBILE */

@media(max-width:768px){

#menu{
display:none;
flex-direction:column;
background:#1c2e5b;
position:absolute;
top:60px;
right:10px;
padding:10px;
}

#menu.show{
display:flex;
}

.menu-btn{
display:block;
}

.hero-text h2{
font-size:30px;
}

}
.page{
padding:80px 40px;
text-align:center;
}
/* NAVBAR */

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#0b2c5f;
    padding:12px 40px;
}

/* LOGO AREA */

.nav-logo{
    display:flex;
    align-items:center;
    gap:10px;
    color:white;
    font-weight:600;
    font-size:18px;
}

.nav-logo img{
    width:40px;
    height:40px;
    border-radius:50%;
}

/* LINKS */

.nav-links{
    list-style:none;
    display:flex;
    gap:25px;
}

.nav-links a{
    text-decoration:none;
    color:white;
    font-weight:600;
    transition:0.3s;
}

.nav-links a:hover{
    color:#c9a227;
}